.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

/* FOOTER 

footer {
  height: 260px;
  background-color: #444;
}
footer h1 {
  color: #fff;
  text-align: center;
  padding-top: 80px;
}
.copyright {
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  color: #777;
}

*/
